[submodule "nvim/pack/project/start/nvim-lsp"]
	path = nvim/pack/project/start/nvim-lsp
	url = https://github.com/neovim/nvim-lsp
[submodule "nvim/pack/project/start/vim-gitgutter"]
	path = nvim/pack/project/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "nvim/pack/project/start/fzf"]
	path = nvim/pack/project/start/fzf
	url = https://github.com/junegunn/fzf
[submodule "nvim/pack/project/start/fzf.vim"]
	path = nvim/pack/project/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "nvim/pack/system/start/vim-tmux-yank"]
	path = nvim/pack/system/start/vim-tmux-yank
	url = git@github.com:jabirali/vim-tmux-yank.git
[submodule "nvim/pack/style/start/vim-minimono"]
	path = nvim/pack/style/start/vim-minimono
	url = git@github.com:jabirali/vim-minimono.git
[submodule "nvim/pack/system/start/tmux-navigate"]
	path = nvim/pack/system/start/tmux-navigate
	url = https://github.com/sunaku/tmux-navigate.git
[submodule "nvim/pack/editor/start/vim-surround"]
	path = nvim/pack/editor/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "nvim/pack/editor/start/vim-commentary"]
	path = nvim/pack/editor/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "nvim/pack/editor/start/vim-repeat"]
	path = nvim/pack/editor/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "tmux/plugins/tmux-minimono"]
	path = tmux/plugins/tmux-minimono
	url = git@github.com:jabirali/tmux-minimono.git
[submodule "tmux/plugins/tmux-sensible"]
	path = tmux/plugins/tmux-sensible
	url = git@github.com:tmux-plugins/tmux-sensible.git
[submodule "tmux/plugins/tmux-normalmode"]
	path = tmux/plugins/tmux-normalmode
	url = git@github.com:jabirali/tmux-normalmode.git
[submodule "tmux/plugins/tmux-navigate"]
	path = tmux/plugins/tmux-navigate
	url = https://github.com/sunaku/tmux-navigate.git
[submodule "tmux/plugins/tmux-popshell"]
	path = tmux/plugins/tmux-popshell
	url = git@github.com:jabirali/tmux-popshell.git
[submodule "kak/plugins/plug.kak"]
	path = kak/plugins/plug.kak
	url = https://github.com/andreyorst/plug.kak.git
[submodule "kak/plugins/fzf.kak"]
	path = kak/plugins/fzf.kak
	url = https://github.com/andreyorst/fzf.kak.git
[submodule "kak/plugins/kak-lsp"]
	path = kak/plugins/kak-lsp
	url = https://github.com/ul/kak-lsp.git
