[submodule "sway/base16-sway"]
	path = sway/base16
	url = https://github.com/rkubosz/base16-sway
[submodule "nvim/pack/project/start/nvim-lsp"]
	path = nvim/pack/project/start/nvim-lsp
	url = https://github.com/neovim/nvim-lsp
[submodule "nvim/pack/project/start/vim-gitgutter"]
	path = nvim/pack/project/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "nvim/pack/project/start/fzf"]
	path = nvim/pack/project/start/fzf
	url = https://github.com/junegunn/fzf
[submodule "nvim/pack/project/start/fzf.vim"]
	path = nvim/pack/project/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
