# ~/.config/.gitignore: List of dotfiles that Git should ignore.

# Programs
htop
karabiner

# Shells
fish/conf.d
fish/functions
fish/fish_variables
.zsh_history
.bash_history
.history

# Emacs
*.eln
emacs/var
emacs/etc
emacs/custom.el
emacs/eln-cache

# Python
ipython/*/startup/README
ipython/*/db
ipython/*/history.sqlite
ipython/*/log
ipython/*/pid
ipython/*/security

# Sublime Text
Package Control.last-run
Package Control.ca-list
Package Control.ca-bundle
Package Control.system-ca-bundle
Package Control.user-ca-bundle
Package Control.cache
Package Control.ca-certs
Package Control.user-ca-bundle

# Vim
.netrwhist

# VSCode
vscode/History
vscode/workspaceStorage
vscode/globalStorage

# ITerm2
iterm2/AppSupport

# ApplySyntax
subl/ApplySyntax.ext-list
subl/Bash.sublime-settings
subl/HAML.sublime-settings
subl/HTML (Rails).sublime-settings
subl/INI.sublime-settings
subl/JSON.sublime-settings
subl/PHP.sublime-settings
subl/Perl.sublime-settings
subl/Python.sublime-settings
subl/Ruby.sublime-settings
subl/Shell-Unix-Generic.sublime-settings
subl/Tmux.sublime-settings
subl/XML.sublime-settings
subl/YAML.sublime-settings
subl/gnuplot.sublime-settings

# Miscellaneous
*.bak
*.lock.json
