[submodule "nvim/pack/project/start/nvim-lsp"]
	path = nvim/pack/project/start/nvim-lsp
	url = https://github.com/neovim/nvim-lsp
[submodule "nvim/pack/project/start/vim-gitgutter"]
	path = nvim/pack/project/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "nvim/pack/project/start/fzf"]
	path = nvim/pack/project/start/fzf
	url = https://github.com/junegunn/fzf
[submodule "nvim/pack/project/start/fzf.vim"]
	path = nvim/pack/project/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "nvim/pack/style/start/vim-dim"]
	path = nvim/pack/style/start/vim-dim
	url = https://github.com/jeffkreeftmeijer/vim-dim.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "tmux/plugins/tmux-minimono"]
	path = tmux/plugins/tmux-minimono
	url = git@github.com:jabirali/tmux-minimono.git
[submodule "tmux/plugins/tmux-sensible"]
	path = tmux/plugins/tmux-sensible
	url = git@github.com:tmux-plugins/tmux-sensible.git
