# ~/.config/.gitignore: List of dotfiles that Git should ignore.

# Programs
htop
karabiner

# MacOS
.DS_Store

# Fish
fish/conf.d
fish/functions
fish/fish_variables

# Sublime Text
Package Control.last-run
Package Control.ca-list
Package Control.ca-bundle
Package Control.system-ca-bundle
Package Control.user-ca-bundle
Package Control.cache
Package Control.ca-certs
Package Control.user-ca-bundle

# Vim
.netrwhist

# VSCode
vscode/History
vscode/workspaceStorage
vscode/globalStorage

# Emacs
\#*
.\#*

# ITerm2
iterm2/AppSupport
