/*************************************************************
 * File: Firefox config
 * Path: ~/.mozilla/firefox/*.default/chrome/userChrome.css
 *************************************************************/

/* Make the TreeStyleTabs add-on more pleasant to use */

#main-window[tabsintitlebar="true"]:not([extradragspace="true"]) #TabsToolbar > .toolbar-items
{
  opacity: 0;
  pointer-events: none;
}

#main-window:not([tabsintitlebar="true"]) #TabsToolbar
{
  visibility: collapse !important;
}

#sidebar-header
{
  display: none;
}

.sidebar-splitter
{
  display: none !important
}
